body{
    background-color: #c5d8ef;
    padding:10px
}

form{
    display:flex;
    justify-content: center;
    align-items: center;
}

input{
    font-size: 1rem;
    padding:5px 20px;
    border:none;
    border-radius: 15px;
    background-color: #f6f9fd;
    z-index: 1;
    box-shadow: 0 1px 3px rgb(0,0,0,0.5);
}

input:focus{
    outline:none;
    border: 2px solid black
}

button{
    border:none;
    background-color: #c5d8ef;
}

button img{
    position:relative;
    height:25px;
    top:2px
}

button img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#location-name{
    text-align: center;
    font-size: 3.5rem;
    margin-bottom:5px
}
#date{
    text-align: center;
    font-size: 1rem;
    margin-top:5px
}

.hide{
    visibility: hidden;
}

#weather-info{
    margin:auto;
    padding:30px 50px;
    border-radius: 15px;
    background-color: rgb(0,0,0,0.1);
    max-width:800px;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px
}

#weather-main{
    grid-row: 1/4;
    align-self: center;
    /* justify-self: center;
    font-weight: bold; */
}

#temperature{
    font-size:5rem;
    width: 20px;
    margin: 0;
}

#feels-like{
    margin:0;

}

#condition{
    margin-top: 5px;
}

.weather-sub{
    background-color: #a9c5e7;
    padding:15px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgb(0,0,0,0.2);
}

.description{
    margin:0;
    font-size: 1.1rem;
    font-weight: bold;
}

.info{
    font-size:  2rem;
    margin:0
}